<!DOCTYPE html>
<html>
<head>
  <title>TddRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- a
<%= content_tag :div, notice, class: "flash notice" if notice %>
<%= content_tag :div, alert, class: "flash notice" if alert %>
a
 -->    
 <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "flash #{name}") %>
  <% end %>
<%= yield %>

</body>
</html>
